0x05-python-exceptions/__pycache__/4-list_division.cpython-38.pyc
0x05-python-exceptions/__pycache__/100-safe_print_integer_err.cpython-38.pyc
0x05-python-exceptions/__pycache__/0-safe_print_list.cpython-38.pyc
0x05-python-exceptions/__pycache__/101-safe_function.cpython-38.pyc
